# 一時ファイル等
node_modules
.superpowers/
.pitcrew/
.prefetch/

# CLI Proxy APIの設定ファイル
static/management.html
cliproxyapi.config.yaml

# claude
.claude/agents
.claude/context-maps
.claude/pitcrew.local.md
CLAUDE.md

# Raphael
.raphael/infections/
.raphael/state.json
.raphael/log/
.claude/raphael.local.md

# プライベートフォルダ
private/